In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

ModuleNotFoundError: No module named 'sklearn'

In [8]:
# Read in the data from the CSV file
df = pd.read_csv('payment_fraud.csv')

In [9]:
df.sample(30)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
30321,1249,1,4.921349,paypal,0.000000,0
10862,1,1,3.954522,creditcard,0.000000,1
8663,15,2,3.954522,creditcard,13.930556,0
39019,1533,1,4.886641,creditcard,125.850694,0
27070,1270,1,4.965339,creditcard,0.000694,0
5091,357,1,4.965339,paypal,356.802778,0
31329,2000,1,3.066058,creditcard,616.093056,0
19120,2000,1,4.745402,paypal,0.000000,0
29048,727,1,4.962055,paypal,0.000000,0
20445,1728,1,4.505662,creditcard,132.290972,0
18107,2000,1,5.034622,paypal,0.000000,0
29040,906,1,2.948940,creditcard,163.181944,0
14246,2,1,5.034622,creditcard,1.352778,0
2662,4,1,4.921349,creditcard,0.002083,0
13615,77,1,4.921349,creditcard,76.815278,0
36552,2000,1,4.886641,creditcard,0.000000,0
12992,173,1,4.895263,creditcard,172.260417,0
36928,2000,1,5.040929,creditcard,0.000000,0
35088,1590,1,4.745402,creditcard,549.453472,0
22086,6,1,4.962055,paypal,5.947222,0
29876,209,1,4.921318,creditcard,133.822917,0
36545,2000,1,4.524580,creditcard,0.009028,0
23049,2000,1,4.461622,paypal,0.000694,0
34479,304,1,5.017904,storecredit,0.014583,0
16557,119,1,4.836982,creditcard,118.147917,0
20184,592,1,4.965339,paypal,417.209028,0
10947,209,1,4.962055,creditcard,0.000000,0
17066,15,1,4.962055,creditcard,0.000694,0
1628,11,1,4.965339,creditcard,0.000000,0
24213,2000,1,4.921349,creditcard,0.000000,0

In [10]:
# Convert categorical feature into dummy variables with one-hot encoding
df = pd.get_dummies(df, columns=['paymentMethod'])
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
10150,1,1,5.034622,0.000000,1,True,False,False
15224,2000,1,4.921349,418.122917,0,True,False,False
3211,1205,1,4.895263,0.000000,0,True,False,False

In [11]:
# Split dataset up into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

NameError: name 'train_test_split' is not defined

In [6]:
# Initialize and train classifier model
clf = LogisticRegression().fit(X_train, y_train)

# Make predictions on test set
y_pred = clf.predict(X_test)

In [7]:
# Compare test set predictions with ground truth labels
print(accuracy_score(y_pred, y_test))
print(confusion_matrix(y_test, y_pred))

0.99992273816
[[12753     0]
 [    1   189]]